* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shoppingcards {
  position: absolute;
  top: -0px;
  left: 5%;
  width: 99%;
  min-height: 100%;
  height: auto;
  padding: 1%;
  padding-bottom: 10vh;
}

.imageCard {
  position: absolute;
  left: 0.6vw;
  width: 15%;
}
.cardPro {
  position: absolute;
  height: auto;
  bottom: 0;
  width: 100%;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: static;
  line-height: 0.2em;
  width: 90%;
}

.namePro {
  /* margin-top: 1%;
    margin-bottom: 9%; */
  position: relative;
  left: 20%;
  bottom: 1%;
  padding-bottom: 10%;
}
.pricePro,
.sizee {
  margin: 9% 0;
  padding-top: 10% 0;
}

input {
  width: 20%;
}

.remove,
.cards {
  margin-left: 0.5vw;
  background-color: rgba(255, 13, 13, 0);
  text-decoration: underline;
  border: none;
}

.remove:hover,
.cards:hover {
  color: blue;
}

.sum {
  position: absolute;
  left: -1vw;
  bottom: 9vh;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 10vh;
  width: 100%;
  height: 20vh;
  margin-right: 10%;
}

.sum h4 {
  display: inline-block;
}

.checkOut {
  width: 85%;
  padding: 2% 0;
  margin-bottom: 1.5%;
  margin-top: 10%;
}

.tot {
  position: absolute;
  right: 0;

  margin-right: 9%;
}

.subTotal {
  position: absolute;
  top: 10vh;
  left: 0;
  margin-left: 5%;
}

hr {
  width: 90%;
  position: absolute;
  margin-top: 15%;
}

#checkoutAndBuy {
  position: absolute;
  bottom: 1%;
  left: 5%;
  width: 90%;
  padding: 0.5%;
  text-align: center;
  margin: auto;
}
