* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#about .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
:root {
  --main-color: #515d22;
  --second-color: #eee8aa;
  --third-color: #f4d61c;
  --transparent-color: rgb(15 116 143 / 70%);
}
#about {
  min-height: 88vh;
  background-color: #1f2021;
  background-image: url(../../assets/pics/home/pexels-fauxels-3183165.jpg);
  background-size: cover;
  position: relative;
}
#about .caption {
  position: absolute;
  left: 0;
  font-size: 22px;
  top: 55%;
  width: 50%;
  transform: translateY(-50%);
  padding: 25px;
  color: white;
  background-color: #e6d00e1f;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  /* max-width: 500px; */
}
#about .caption h2 {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--third-color);
  text-align: center;
}
.main-heading {
  position: relative;
  font-size: 40px;
  font-weight: normal;
  padding: 50px;
  color: black;
  text-align: center;
}
.main-heading::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;
  width: 120px;
  height: 49px;
  border-bottom: 2px solid black;
}
.main-heading::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  bottom: 20px;
  left: 50%;
  border: 2px solid black;
  background-color: white;
  /* background-color: var(--third-color); */
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 350px;
  background-color: var(--second-color);
  background-image: url(../../assets/pics/home/design.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .text {
  position: absolute;
  background-color: #eee8aa14;
  right: 0;
  color: var(--third-color);
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 50%;
  font-size: 22px;
}
.design .text h2 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 25px;
}

.design .text li {
  font-size: 25px;
  margin-bottom: 10px;
}
.design .text li i {
  margin-right: 20px;
  color: initial;
}
.design .text li::before {
  font-family: "Font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  position: relative;
  top: 1px;
  color: var(--third-color);
  padding-right: 10px;
}
#team {
  display: grid;
  /* height: 400px; */
  grid-template-columns: repeat(5, 200px);
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
}
#team .team-member {
  width: 180px;
  /* height: 400px;  */
  text-align: center;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team .team-member .icons {
  display: flex;
  color: white;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
#team .team-member .icons li i {
  font-size: 20px;
  color: black;
}
#team .team-member .photo {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 1s;
  background-size: cover;
}
#team .team-member .photo:hover {
  transform: scale(1.2);
}
.partner-logo {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  /* background-color: var(--second-color); */
}
.partner-logo img {
  width: 100px;
  height: 100px;
}
#summary {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  flex-direction: column;
  align-items: center;
  /* height: 50vh;  */
}
.summary {
  background-color: #eee8aa4f;
  text-align: center;
  width: 50%;
  margin: 10px;
  border-radius: 20px 150px;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.summary h3 {
  font-size: 35px;
  color: var(--third-color);
}
.summary p {
  width: 70%;
  text-align: center;
}
@media screen and (max-width: 667px) {
  #about .caption {
    width: 100%;
  }
  .design .text {
    width: 100%;
  }
  #team {
    display: flex;
    flex-direction: column;
  }
  .summary {
    width: 70%;
    padding: 15px;
    font-size: 18px;
  }
  .partner-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
