@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

/* 
* Art by @jofpin 
* 2014
*/
:root {
  --main-color: #515d22;
  --second-color: #eee8aa;
  --third-color: #f4d61c;
}
body {
  background: var(--second-color);
  font-family: "Open sans", sans-serif;
}
a {
  text-decoration: none;
  color: #3498db;
}
.content-profile-page {
  margin: 1em auto;
  width: 47em;
  padding: 10px;
}

.card {
  background: var(--second-color);
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.img-user-profile {
  margin: 0 auto;
  text-align: center;
}
.profile-bgHome {
  border-bottom: 0.2em solid var(--second-color);
  width: 45.6em;
  height: 16em;
  margin: 0 auto;
  border-radius: 0.3rem 0.3rem 0 0;
}
/* .profile-bgHome img {
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  background-size: cover;
  margin-right: 0.3rem;
} */
.avatar {
  margin: 0 auto;
  background: var(--second-color);
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: 0.4em;
  margin-top: -10em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.btns-logOut-removeAccount {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 220px;
  /* background: var(--main-color);
  border: 1px solid var(--third-color); */
  color: #fff;
  outline: none;
  border-radius: 0 0.6em 0.6em 0;
  /* padding: 0.8em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logOut-btn {
  background: var(--main-color);
  padding: 0.5em;
  border-radius: 0.6em;
  cursor: pointer;
  color: var(--third-color);
  transition: all 0.5s ease-in-out;
  font-size: 1.2em;
  margin-right: 5px;
  border: none;
}

.logOut-btn:hover {
  background: var(--third-color);
  color: var(--main-color);
  font-size: 1.3em;
}

.removeAccount-btn {
  background-color: var(--main-color);
  color: var(--third-color);
  padding: 0.6em;
  border-radius: 0.6em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 1.2em;
  border: none;
}

.removeAccount-btn:hover {
  background: red;
  font-size: 1.3em;
  color: #fff;
}

.profile-user-page .user-profile-data {
  text-align: center;
  padding: 0 1.5em;
}
.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: 0;
}
.profile-user-page .user-profile-data p {
  font-family: "Lato", sans-serif;
  color: #8899a6;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.user-balance {
  text-align: center;
  padding: 0 1.5em;
}

.user-balance p {
  font-size: 1.1em;
  margin-top: 0;
  /* margin-bottom: 0.5em; */
}

.user-balance-span {
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  color: #8899a6;
  font-size: 1.1em;
  margin-top: 0;
  /* margin-bottom: 0.5em; */
  font-weight: bold;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  padding: 0 20px;
}

.edit-profile-btn,
.edit-userBalance-btn,
.edit-moreInfo-btn,
.change-password-btn {
  width: 150px;
  height: 40px;
  background-color: var(--main-color);
  /* border: 1px solid var(--main-color); */
  color: rgb(248, 228, 228);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.edit-profile-btn:hover,
.edit-userBalance-btn:hover,
.edit-moreInfo-btn:hover,
.change-password-btn:hover {
  background-color: var(--third-color);
  color: var(--main-color);
  width: 200px;
  border: 1px solid var(--main-color);
}

.edit-userBalance {
  display: none;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* .edit-userBalance input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
} */

/* .edit-userBalance input[type="submit"]:hover {
  background-color: var(--third-color);
} */

.edit-profile {
  display: none;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.user-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-info label {
  width: 200px;
  text-align: left;
  margin-right: 10px;
}

.user-info i {
  margin-right: 10px;
}

.user-info input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 0 10px;
}

.user-info input:focus {
  outline: none;
}

.user-info input::placeholder {
  color: black;
}

.edit-profile input[type="submit"],
.edit-moreInfo input[type="submit"],
.change-password input[type="submit"],
.edit-userBalance input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  border: 1px solid var(--second-color);
  color: rgb(248, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
}

.edit-profile input[type="submit"]:hover,
.edit-moreInfo input[type="submit"]:hover,
.change-password input[type="submit"]:hover,
.edit-userBalance input[type="submit"]:hover {
  background-color: var(--third-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.2em;
}

.edit-moreInfo {
  display: none;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--main-color);

  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.change-password {
  display: none;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.change-password input[type="password"] {
  width: 100%;
  height: 30px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.change-password input[type="password"]:focus {
  outline: none;
}

.change-password input[type="password"]::placeholder {
  color: #ccc;
}

.error-oldPassword,
.error-newPassword,
.error-confirmPassword,
.error-pass {
  color: red;
  font-size: 12px;
}
.user-moreInfo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-moreInfo h4 {
  font-size: 20px;
  font-weight: bold;
}

.user-moreInfo h4 span {
  font-size: 15px;
  font-weight: bold;
  color: #8899a6;
}

.user-products {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-products h2 {
  font-size: 30px;
  font-weight: 900;
  color: #515d22;
}

.user-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-products-container h4 span {
  color: #8899a6;
}

.user-product {
  width: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-product-img {
  width: 100px;
  height: 70px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.user-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-product-info {
  padding: 10px;
}

.user-product-info-quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-product-info h3 {
  font-size: 20px;
  font-weight: bold;
}

.user-product-info p {
  font-weight: bold;
  color: #515d22;
}

.user-product-info p span {
  font-size: 12px;
  font-weight: bold;
  color: #8899a6;
}

@media screen and (max-width: 768px) {
  .content-profile-page {
    width: 100%;
  }
  .profile-bgHome {
    width: 100%;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }
  .user-profile-data {
    padding: 0;
  }
  .user-profile-data h1 {
    font-size: 1.5em;
  }
  .user-profile-data p {
    font-size: 1em;
  }
  .user-balance {
    padding: 0;
  }
  .user-balance p {
    font-size: 1em;
  }
  .user-balance-span {
    font-size: 1em;
  }
  .edit-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .edit-buttons button {
    /* width: 20%; */
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .edit-profile,
  .edit-userBalance,
  .edit-moreInfo,
  .change-password {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .user-info {
    flex-direction: column;
    gap: 10px;
  }
  .user-info label {
    width: 100%;
    text-align: left;
  }
  .user-info input {
    width: 100%;
  }
  .user-info input[type="submit"] {
    width: 100%;
  }
  .user-product {
    width: 100%;
  }
  .user-product-img {
    width: 100px;
    height: 100px;
  }
  .user-product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .user-product-info-quantity {
    padding: 0;
  }
  .user-product-info h3 {
    font-size: 1.5em;
  }
  .user-product-info p {
    font-size: 1em;
  }
  .user-product-info p span {
    font-size: 0.8em;
  }
  .btns-logOut-removeAccount {
    width: 100%;
    border-radius: 0;
    margin-top: 100px;
  }
}
