:root {
  --primary: #515d22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #515d22;
  --second-color: #eee8aa;
  --third-color: #f4d61c;
}

body {
  background-color: var(--second-color);
}

.parent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.shoeBackground {
  position: relative;
  width: 50%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.first {
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.second {
  z-index: -1;
}

.gradient[color="red"] {
  background-image: linear-gradient(45deg, #f4d61c, #eee8aa);
}

.gradient[color="blue"] {
  background-image: linear-gradient(45deg, #515d22, #eee8aa);
}

.gradient[color="green"] {
  background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"] {
  background-image: linear-gradient(
    45deg,
    var(--main-color),
    var(--third-color)
  );
}

.gradient[color="black"] {
  background-image: linear-gradient(45deg, #111, #666);
}

.parent .logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.share {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.share:hover {
  transform: scale(1.1);
}

.share i {
  line-height: 50px;
}

.nike {
  position: absolute;
  top: 85px;
  left: 15px;
  font-size: 11rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  opacity: 0.1;
}

.shoe {
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
  transition: 0.5s;
}

.shoe.show {
  opacity: 1;
}

.info {
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName {
  padding: 0 0 10px 0;
}

.shoeName div {
  display: flex;
  align-items: center;
}

.shoeName div .big {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.shoeName div .new {
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.shoeName .small {
  font-weight: 500;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
}

.shoeName,
.description,
.color-container,
.size-container .weight-container,
.roasting-container,
.stars-container,
.reviews-container {
  border-bottom: 1px solid #221e1e;
}

.description {
  padding: 10px 0;
}

.title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.text {
  color: #555;
  font-size: 17px;
}

.color-container {
  padding: 10px 0;
}

.colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}

.color[color="blue"] {
  background-color: #f4d61c;
  border-color: #eee8aa;
}

.color[color="red"] {
  background-color: #eee8aa;
  border-color: #eee8aa;
}

.color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="orange"] {
  background-color: #515d22;
  border-color: #515d22;
}

.color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.color.active {
  border-color: #fff;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.size-container {
  padding: 10px 0;
  margin-bottom: 10px;
}

.sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.size.active {
  background-color: var(--primary);
  color: #fff;
  transition: 0.5s;
}

.weight-container {
  padding: 10px 0;
}

.weights {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.weight {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.weight.active {
  background-color: var(--primary);
  color: #fff;
  transition: 0.5s;
}

.coloredWeight {
  color: var(--primary);
  font-weight: 600;
}

/* ----------------------------------------*/
/* Roasting */
/* ----------------------------------------*/

.roasting-container {
  padding: 10px 0;
}

.roastings {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.roasting {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.roasting.active {
  background-color: var(--primary);
  color: #fff;
  transition: 0.5s;
}

.stars-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.stas-icons {
  padding: 8px 0;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.stas-icons i {
  color: var(--primary);
  font-size: 1.5rem;
  margin-right: 5px;
}

/* ----------------------------------------*/
/* Reviews */
/* ----------------------------------------*/
.reviews-container {
  padding: 10px 0;
}

.reviews {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.review {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.review-name {
  color: var(--primary);
  font-size: 1.5rem;
  margin-right: 5px;
}

.review-text {
  color: #555;
  font-size: 1.1rem;
  margin-right: 5px;
}

.review.active {
  background-color: var(--primary);
  color: #fff;
  transition: 0.5s;
}

/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/
.buy-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1 {
  font-weight: 600;
  line-height: 1;
}

.price i {
  color: var(--primary);
  font-size: 1.6rem;
  margin-right: 1px;
  margin-top: 1px;
}

.buy {
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.buy:hover {
  transform: scale(1.1);
}

.buy i {
  margin-right: 2px;
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup .popupInside {
  position: relative;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup .popupInside .icon,
.shareIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #515d22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.shareIcon {
  cursor: pointer;
}

.popup .popupInside .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.popup .popupInside .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.popup .popupInside .icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #515d22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.popup .popupInside .icons a:hover {
  transform: scale(1.1);
}

.copyLinkLabel:hover {
  cursor: pointer;
  color: #515d22;
}

.popup .popupInside .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #515d22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup .popupInside .close-btn:hover {
  transform: scale(1.1);
}

.popup .popupInside .close-btn i {
  font-size: 20px;
}

/*  show local storage popup  */
.linkCopied {
  display: flex;
  justify-content: center;
  align-items: center;
}

#isLinkCopied {
  color: #f4d61c;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 1rem 0;
}

/* .popup to show on top right  */
.popupShowAddedToLocalStorge {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popupShowAddedToLocalStorge.active {
  opacity: 1;
  pointer-events: all;
}

.popupShowAddedToLocalStorge .popUpInfo {
  background: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.popupShowAddedToLocalStorge .popUpInfo i {
  color: #515d22;
  font-size: 3rem;
}

.popupShowAddedToLocalStorge .popUpInfo h1 {
  color: #555;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 1070px) {
  .shoe {
    width: 135%;
  }
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }

  .card > div {
    width: 100%;
    box-shadow: none;
  }

  .shoe {
    width: 100%;
    transform: rotate(-5deg) translateY(-50%);
    top: 55%;
    right: 2%;
  }

  .nike {
    top: 20%;
    left: 5%;
  }
}

@media (max-width: 600px) {
  .share {
    width: 40px;
    height: 40px;
  }

  .share i {
    font-size: 1rem;
    line-height: 40px;
  }

  .logo {
    width: 70px;
  }
}

@media (max-width: 490px) {
  .nike {
    font-size: 7rem;
  }

  .shoeName div .big {
    font-size: 1.3rem;
  }

  .small {
    font-size: 1rem;
  }

  .new {
    padding: 2px 6px;
    font-size: 0.9rem;
  }

  .title {
    font-size: 0.9rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .buy {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  .price h1 {
    font-size: 1.5rem;
  }

  .price i {
    font-size: 0.9rem;
  }

  .size {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    font-size: 0.9rem;
    line-height: 30px;
  }

  .color {
    margin: 0 6px;
    width: 0 20px;
    width: 20px;
    height: 20px;
    border-width: 4px;
  }

  .share {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }

  .share i {
    font-size: 0.8rem;
    line-height: 35px;
  }

  .logo {
    width: 60px;
    top: 10px;
    left: 10px;
  }

  .info {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .buy i {
    display: none;
  }

  .container {
    padding: 20px;
  }
}
